<%# Copyright 2023-2024, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h1 class="mt-6 text-center text-3xl font-extrabold">Resend confirmation instructions</h1>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="py-8 px-4 shadow sm:rounded-lg sm:px-10 border border-gray-200">
      <%= render "shared/flash_messages" %>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "space-y-6" }) do |f| %>
        <%= render "shared/forms/error_summary", resource: resource %>

        <div>
          <%= f.label :email, class: "block text-gray-700 dark:text-gray-300" %>
          <div class="mt-1">
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                              class: "field-text block max-w-lg sm:max-w-sm w-full" %>
          </div>
        </div>

        <div>
          <%= f.submit "Resend confirmation instructions",
                       class: "w-full button" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>
