<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<%= render "shared/page_header", title: "Repeaters in #{@country.name}" %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <%= render "shared/flash_messages" %>
  <% if @repeaters.blank? %>
    <p>
      We don't have any repeaters in <%= @country.name %>, you can help us by letting us know
      <%= link_to "how to import them", "https://github.com/pupeno/repeater_world/issues/new", class: "link" %>
      or <%= link_to "Add a Repeater", new_suggested_repeater_url %>.
    </p>
  <% end %>

  <ul>
    <% @repeaters.each do |repeater| %>
      <li><%= link_to "#{repeater.name} - #{repeater.call_sign}", repeater, class: "link" %></li>
    <% end %>
  </ul>
</div>
