<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="py-3"
     data-controller="tabs">
  <div class="sm:hidden">
    <label for="display_mode_tabs" class="sr-only">Select a tab</label>
    <select id="display_mode_tabs"
            name="display_mode_tabs"
            class="block w-full rounded-md border-gray-300 focus:border-orange-500 focus:ring-orange-500"
            data-action="tabs#switch">
      <%= options_for_select(tabs.each_with_object({}) { |tab, result| result[tab[:title]] = tab[:url] },
                             tabs.find { |tab| tab[:name] == selected_tab }[:url]) %>
    </select>
  </div>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="sm:px-2 md:px-4 lg:px-6 -mb-px flex space-x-8" aria-label="Tabs">
        <% tabs.each do |tab| %>
          <%= link_to tab[:url],
                      class: "group inline-flex items-center py-2 px-1 border-b-2 font-medium #{tab[:name] == selected_tab ? "border-orange-500 text-orange-600 " : "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300"}" do %>
            <i class="<%= tab[:icon] %>"></i>
            <span class="ml-3"><%= tab[:title] %></span>
          <% end %>
        <% end %>
      </nav>
    </div>
  </div>
</div>

<%= contents %>
