<%# Copyright 2023-2024, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div id="<%= dom_id repeater %>" data-controller="repeater">
  <div class="shadow md:rounded-lg md:border border-gray-200 dark:divide-gray-700
              flex flex-col sm:flex-row">
    <div class="flex-1 px-4 py-5 sm:p-0">
      <dl class="divide-y divide-gray-200 dark:divide-gray-700">
        <%= card_entry(label: "Name", value: repeater.name, optional: true) %>
        <%= card_entry(label: "Call Sign", value: repeater.call_sign) %>
        <%= card_entry(label: "Web Site", value: repeater.web_site, optional: true) do %>
          <%= link_to repeater.web_site, repeater.web_site, class: "link" %>
        <% end %>
        <%= card_entry(label: "Keeper", value: repeater.keeper, optional: true) %>
        <%= card_entry(label: "Band", value: repeater.band, optional: true) %>
        <%= card_entry(label: "Modes", value: modes(repeater).join(", ")) %>
        <%= card_entry(label: "Operational", value: repeater.operational) %>
        <%= card_entry(label: "TX Frequency", value: repeater.tx_frequency) do %>
          <%= frequency_in_mhz(repeater.tx_frequency) %>
        <% end %>
        <%= card_entry(label: "RX Frequency", value: repeater.rx_frequency) do %>
          <%= render "shared/repeater/rx_frequency", repeater: repeater %>
        <% end %>
        <%= card_entry(label: "FM", value: repeater.fm?) %>
        <% if repeater.fm? %>
          <%= card_entry(label: "Tone Burst", value: repeater.fm_tone_burst?, optional: true) %>
          <%= card_entry(label: "CTCSS Tone", value: repeater.fm_ctcss_tone, optional: true) %>
          <%= card_entry(label: "Tone Squelch", value: repeater.fm_tone_squelch, optional: true) %>
        <% end %>
        <%= card_entry(label: "M17", value: repeater.m17?, optional: true) %>
        <% if repeater.m17? %>
          <%= card_entry(label: "M17 Channel Access Number", value: repeater.m17_can, optional: true) %>
          <%= card_entry(label: "M17 Reflector Name", value: repeater.m17_reflector_name, optional: true) %>
        <% end %>
        <%= card_entry(label: "D-Star", value: repeater.dstar?, optional: true) %>
        <% if repeater.dstar? %>
          <%= card_entry(label: "D-Star Port", value: repeater.dstar_port, optional: true) %>
        <% end %>
        <%= card_entry(label: "Fusion", value: repeater.fusion?, optional: true) %>
        <% if repeater.fusion? %>
          <%= card_entry(label: "Wires X Node Id", value: repeater.wires_x_node_id, optional: true) %>
        <% end %>
        <%= card_entry(label: "DMR", value: repeater.dmr?, optional: true) %>
        <% if repeater.dmr? %>
          <%= card_entry(label: "DMR color code", value: repeater.dmr_color_code, optional: true) %>
          <%= card_entry(label: "DMR network", value: repeater.dmr_network, optional: true) %>
        <% end %>
        <%= card_entry(label: "NXDN", value: repeater.nxdn?, optional: true)  %>
        <%= card_entry(label: "P25", value: repeater.p25?, optional: true)  %>
        <%= card_entry(label: "Tetra", value: repeater.tetra?, optional: true) %>
        <%= card_entry(label: "EchoLink", value: repeater.echolink?, optional: true) %>
        <% if repeater.echolink? %>
          <%= card_entry(label: "EchoLink Node Number", value: repeater.echolink_node_number, optional: true) %>
        <% end %>
        <%= card_entry(label: "Location") do %>
          <%= render "shared/repeater/location", repeater: repeater %>
        <% end %>
        <%= card_entry(label: "Bandwidth", value: frequency_in_khz(repeater.bandwidth), optional: true) %>
        <%= card_entry(label: "TX Power", value: repeater.tx_power, optional: true) do %>
          <%= repeater.tx_power %>W
        <% end %>
        <%= card_entry(label: "TX Antenna", value: repeater.tx_antenna, optional: true) %>
        <%= card_entry(label: "TX Antenna Polarization", value: repeater.tx_antenna_polarization, optional: true) %>
        <%= card_entry(label: "RX Antenna", value: repeater.rx_antenna, optional: true) %>
        <%= card_entry(label: "RX Antenna Polarization", value: repeater.rx_antenna_polarization, optional: true) %>
        <%= card_entry(label: "Altitude Above Sea Level", value: repeater.altitude_asl, optional: true) do %>
          <%= repeater.altitude_asl %>m
        <% end %>
        <%= card_entry(label: "Altitude Above Ground Level", value: repeater.altitude_agl, optional: true) do %>
          <%= repeater.altitude_agl %>m
        <% end %>
        <%= card_entry(label: "Bearing", value: repeater.bearing, optional: true) %>
        <%= card_entry(label: "UTC Offset", value: repeater.utc_offset, optional: true) %>
        <%= card_entry(label: "Channel", value: repeater.channel, optional: true) %>
        <%= card_entry(label: "Notes", value: repeater.notes, optional: true) %>
        <%= card_entry(label: "Source", value: repeater.source, optional: true) %>
      </dl>
    </div>
    <div class="flex-1 min-h-[500px] place-self-stretch bg-gray-300 bg-gray-200 dark:bg-gray-600 md:rounded-r-lg"
         data-controller="map"
         data-action="google-maps-callback@window->maps#initializeMap"
         data-map-markers-value="<%=
           [{ lat: repeater.latitude,
              lng: repeater.longitude,
              tooltip: repeater.call_sign,
              band: repeater.band,
              modes: modes_as_sym(repeater),
              info: "<h1 class='font-bold text-lg link'>#{repeater.name}</h1>
                <p class='link'>#{repeater.call_sign}</p>
                <p>Band: <span class='font-bold'>#{h repeater.band}</span></p>
                <p>Modes: <span class='font-bold'>#{h modes(repeater).join(", ")}</span></p>
                <p>Frequency: <span class='font-bold'>#{h frequency_in_mhz(repeater.tx_frequency)} #{h frequency_offset_in_khz(repeater.tx_frequency, repeater.rx_frequency)}</span></p>
                <p>Location: <span class='font-bold'>#{h location_in_words(repeater)}</span></p>
                <p>Lat: <span class='font-bold'>#{h repeater.latitude}</span>,
                   Long: <span class='font-bold'>#{h repeater.longitude}</span></p>" }].to_json %>">
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <%= link_to edit_repeater_url(repeater), class: "button", rel: "nofollow" do %>
        <i class="fa-solid fa-pen-to-square mr-2"></i>
        Update Repeater
      <% end %>
    </div>
  </div>
</div>
