<%= form_with model: @search, url: "#" do |form| %>
  <div>
    Band:
    <% Repeater::BANDS.each do |band| %>
      <%= form.check_box :"band_#{band}" %>
      <%= form.label :"band_#{band}", band %>
    <% end %>
  </div>

  <%= form.submit "Search" %>
<% end %>


<!--<div>-->
<!--  Band:-->
<%# Repeater::BANDS.each do |band| %>
<%#= link_to band, q: @q.merge({ band_in: @q.fetch(:band_in, []) + [band] }) %>
<%# end %>
<%# if @q.include? :band_in %>
<%#= link_to "Clear", q: @q.except(:band_in) %>
<%# end %>
<!--</div>-->

<!--<div>-->
<!--  Mode:-->
<%# if @q[:fm_eq].present? %>
<%#= link_to "FM", q: @q.except(:fm_eq) %>
<%# else %>
<%#= link_to "FM", q: @q.merge({ fm_eq: true }) %>
<%# end %>
<%# if @q[:dstar_eq].present? %>
<%#= link_to "D-Star", q: @q.except(:dstar_eq) %>
<%# else %>
<%#= link_to "D-Star", q: @q.merge({ dstar_eq: true }) %>
<%# end %>
<%# if @q[:fusion_eq].present? %>
<%#= link_to "Fusion", q: @q.except(:fusion_eq) %>
<%# else %>
<%#= link_to "Fusion", q: @q.merge({ fusion_eq: true }) %>
<%# end %>
<%# if @q[:dmr_eq].present? %>
<%#= link_to "DMR", q: @q.except(:dmr_eq) %>
<%# else %>
<%#= link_to "DMR", q: @q.merge({ dmr_eq: true }) %>
<%# end %>
<%# if @q[:nxdn_eq].present? %>
<%#= link_to "NXDN", q: @q.except(:nxdn_eq) %>
<%# else %>
<%#= link_to "NXDN", q: @q.merge({ nxdn_eq: true }) %>
<%# end %>

<%# if [:fm_eq, :dstar_eq, :fusion_eq, :dmr_eq, :nxdn_eq].any? { |k| @q.include? k } %>
<%#= link_to "Clear", q: @q.except(:fm_eq, :dstar_eq, :fusion_eq, :dmr_eq, :nxdn_eq) %>
<%# end %>
<!--</div>-->

<!--<div>-->
<%#= form_with method: :get do |form| %>
<!--    Within-->
<!--    <%#= form.text_field "q[l][d]", value: @q.fetch(:l, {})&.fetch(:d, 5) %>km of-->
<!--    the coordinates <%#= form.text_field "q[l][la]" %>, <%#= form.text_field "q[l][lo]" %>.-->
<%#= form.submit "Search" %>
<%# end %>
<!--</div>-->

<pre>
<%= @q.inspect %>
</pre>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Repeaters</h1>
    <%= link_to 'New repeater', new_repeater_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="repeaters" class="min-w-full">
    <%= render @repeaters %>
  </div>
</div>
