<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="geosearch my-3 mx-1" data-controller="geosearch">
  <%# Type of geosearch selector %>
  <%= form.select :geosearch_type,
                  { "Near my current location" => RepeaterSearch::MY_LOCATION,
                    "Near a place (city or any other named location)" => RepeaterSearch::PLACE,
                    "Near some coordinates" => RepeaterSearch::COORDINATES,
                    "Near a grid square" => RepeaterSearch::GRID_SQUARE,
                    "Within a country" => RepeaterSearch::WITHIN_A_COUNTRY },
                  { include_blank: "Select geographic filtering method" },
                  { class: "inline-block my-1 pl-3 pr-10
                            rounded-md border border-gray-300 dark:border-gray-600
                            focus:outline-2 focus:outline-offset-0 focus:outline-orange-500 focus:border-orange-500
                            chevron-gray-700 dark:chevron-gray-300",
                    data: { geosearch_target: "type",
                            action: "click->geosearch#enable change->geosearch#updateState" } } %>

  <%# All the searches that have the shape of "Within N KM of ...." %>
  <div class="my-1 hidden" data-geosearch-target="myLocationFields placeFields coordinatesFields gridSquareFields">
    Within

    <%# Distance and units %>
    <span class="inline-flex flex-row w-32 rounded-md shadow-sm">
      <%= form.text_field :distance,
                          class: "pr-0 w-full grow
                                  rounded-s-md border-s border-e-0 border-gray-300 dark:border-gray-600
                                  focus:outline-2 focus:outline-offset-0 focus:outline-orange-500 focus:border-orange-500
                                  text-right",
                          data: { geosearch_target: "controlled",
                                  action: "click->geosearch#enable" } %>
      <%= form.label :distance_unit, "Unit", class: "sr-only" %>
      <%= form.select :distance_unit,
                      RepeaterSearch::DISTANCE_UNITS, {}, {
                        class: "pl-2 w-full shrink
                                rounded-e-md border-e border-s-0 border-gray-300 dark:border-gray-600
                                focus:outline-2 focus:outline-offset-0 focus:outline-orange-500 focus:border-orange-500
                               chevron-gray-700 dark:chevron-gray-300",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } } %>
    </span>

    of

    <%# "Field" for current location, actually no field, because none are needed. %>
    <span class="contents hidden" data-geosearch-target="myLocationFields">
      my current location.
    </span>

    <%# Field for searching by place %>
    <div class="contents hidden" data-geosearch-target="placeFields">
      <%= form.text_field :place,
                          placeholder: "City, town, place, landmark",
                          class: "inline w-80 px-2 field-text",
                          data: { action: "click->geosearch#enable" } %>
    </div>

    <%# Fields for searching by coordinates %>
    <div class="contents hidden" data-geosearch-target="coordinatesFields">
      <span class="inline-flex items-baseline">
        <%= form.label :latitude, "latitude", class: "mr-2" %>
        <%= form.text_field :latitude,
                            class: "inline w-28 px-2 field-text",
                            data: { geosearch_target: "latitude",
                                    action: "click->geosearch#enable" } %>
      </span>

      <span>and</span>

      <div class="inline-flex items-baseline">
        <%= form.label :longitude, "longitude", class: "mr-2" %>
        <%= form.text_field :longitude,
                            class: "inline w-28 px-2 field-text",
                            data: { geosearch_target: "longitude",
                                    action: "click->geosearch#enable" } %>
      </div>
    </div>

    <%# Field for searching by grid square. %>
    <span class="contents hidden" data-geosearch-target="gridSquareFields">
      the grid
      <%= form.text_field :grid_square,
                          class: "inline w-28 px-2 mt-1 field-text",
                          data: { action: "click->geosearch#enable" } %>
    </span>
  </div>

  <%# Search within a country %>
  <div class="my-1 hidden" data-geosearch-target="withinACountryFields">
    <%= form.select :country_id,
                    Country.order(:name).collect { |c| [c.name, c.id] },
                    {},
                    { class: "inline-block pl-3 pr-10
                              rounded-md border border-gray-300 dark:border-gray-600
                              focus:outline-2 focus:outline-offset-0 focus:outline-orange-500 focus:border-orange-500
                              chevron-gray-700 dark:chevron-gray-300", } %>
  </div>
</div>

