<%= form_with(model: repeater_search,
              method: form_method,
              url: url,
              scope: :s,
              class: "contents",
              html: { data: { controller: "repeater-searches",
                              repeater_searches_url: repeater_searches_url } }) do |form| %>
  <% if repeater_search.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(repeater_search.errors.count, "error") %> prohibited this
        repeater_search from being saved:</h2>

      <ul>
        <% repeater_search.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Band:
    <% Repeater::BANDS.each do |band| %>
      <%= badge_checkbox form, "band_#{band}", band %>
    <% end %>
  </div>

  <div class="my-3">
    Mode:
    <%= badge_checkbox form, :fm, "FM" %>
    <%= badge_checkbox form, :dstar, "D-Star" %>
    <%= badge_checkbox form, :fusion, "Fusion" %>
    <%= badge_checkbox form, :dmr, "DMR" %>
    <%= badge_checkbox form, :nxdn, "NXDN" %>
  </div>

  <div class="my-3" data-controller="distance-to-coordinates">
    <%= toggle_checkbox form, :distance_to_coordinates, { data: { distance_to_coordinates_target: "controller" } } %>

    <span data-distance-to-coordinates-target="controlled">Within</span>
    <div class="inline-block relative mt-1 rounded-md shadow-sm w-36"
         data-distance-to-coordinates-target="controlled">
      <%= form.text_field :distance, class: "block w-full
                                             rounded-md border-gray-300
                                             pl-1 pr-20
                                             focus:border-orange-500 focus:ring-orange-500
                                             text-right sm:text-sm", placeholder: 0 %>
      <div class="absolute inset-y-0 right-0 flex items-center">
        <label for="currency" class="sr-only">Unit</label>
        <%= form.select :distance_unit,
                        RepeaterSearch::DISTANCE_UNITS, {}, {
                          class: "h-full rounded-md border-transparent bg-transparent
                                  py-0 pl-1 pr-7
                                  focus:border-orange-500 focus:ring-orange-500 sm:text-sm" } %>
      </div>
    </div>

    <span data-distance-to-coordinates-target="controlled">of the coordinates:</span>
    <div class="inline-flex items-baseline">
      <%= form.label :latitude, "latitude", data: { distance_to_coordinates_target: "controlled" }, class: "mr-2" %>
      <%= form.text_field :latitude, class: "inline w-28
                                             rounded-md border-gray-300
                                             px-2
                                             focus:border-orange-500 focus:ring-orange-500
                                             text-right sm:text-sm",
                          data: { distance_to_coordinates_target: "controlled" } %>
    </div>
    <span data-distance-to-coordinates-target="controlled">and</span>

    <div class="inline-flex items-baseline">
      <%= form.label :longitude, "longitude", data: { distance_to_coordinates_target: "controlled" }, class: "mr-2" %>
      <%= form.text_field :longitude, class: "inline w-28
                                           rounded-md border-gray-300
                                           px-2
                                           focus:border-orange-500 focus:ring-orange-500
                                           text-right sm:text-sm", data: { distance_to_coordinates_target: "controlled" } %>
      <span data-distance-to-coordinates-target="controlled">.</span>
    </div>
  </div>

  <% if !repeater_search.persisted? %>
    <div class="inline">
      <button type="submit" class="rounded-lg py-3 px-6 bg-orange-600 text-white inline-block font-medium cursor-pointer">
        <i class="fa-solid fa-magnifying-glass mr-2"></i>
        Search
      </button>
    </div>
  <% end %>
  <div class="inline">
    <button type="<%= user_signed_in? ? "submit" : "button" %>"
            class="rounded-lg py-3 px-5 text-white inline-block font-medium cursor-pointer <%= repeater_search.persisted? ? "bg-orange-600" : "bg-orange-900" %>"
            data-action="<%= user_signed_in? ? "click->repeater-searches#saveSearch" : "click->repeater-searches#askToSignInOrLogIn" %>">
      <i class="fa-regular fa-bookmark mr-2"></i>
      Save Search
    </button>
  </div>

  <%= pop_up title: "Save Search",
             triggering_event: "repeater-searches:logInOrSignUp",
             links: [{ text: "Sign up", url: new_user_registration_url, icon: "fa-regular fa-face-smile" },
                     { text: "Log in", url: new_user_session_url, icon: "fa-solid fa-right-to-bracket" }],
             data: { repeater_searches_target: "signInOrLogInPopUp" } do %>
    <p class="text-sm text-gray-500 mb-2">
      A saved search allows you to easily re-run it later with updated
      information
      and also be notified when a change happens (new repeater pops up, or
      one goes down).
    </p>
    <p class="text-sm text-gray-500">
      To be able to save a search, you need to log in or sign up to be able
      to access the saved searches later.
    </p>
  <% end %>
<% end %>
