<%= form_with(model: repeater_search, class: "contents") do |form| %>
  <% if repeater_search.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(repeater_search.errors.count, "error") %> prohibited this repeater_search from being saved:</h2>

      <ul>
        <% repeater_search.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Band:
    <% Repeater::BANDS.each do |band| %>
      <%= form.check_box :"band_#{band}" %>
      <%= form.label :"band_#{band}", band %>
    <% end %>
  </div>

  <div>
    Mode:
    <%= form.check_box :fm %>
    <%= form.label :fm, "FM" %>
    <%= form.check_box :dstar %>
    <%= form.label :dstar, "D-Star" %>
    <%= form.check_box :fusion %>
    <%= form.label :fusion, "fusion" %>
    <%= form.check_box :dmr %>
    <%= form.label :dmr, "DMR" %>
    <%= form.check_box :nxdn %>
    <%= form.label :nxdn, "NXDN" %>
  </div>

  <div class="inline">
    <%= form.submit "Search", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
