<%= repeater_search.persisted? %>
<%= form_with(model: repeater_search,
              method: form_method,
              url: url,
              scope: :s,
              class: "contents",
              html: { data: { controller: "repeater-searches",
                              repeater_searches_url: repeater_searches_url } }) do |form| %>
  <% if repeater_search.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(repeater_search.errors.count, "error") %> prohibited this
        repeater_search from being saved:</h2>

      <ul>
        <% repeater_search.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Band:
    <% Repeater::BANDS.each do |band| %>
      <%= badge_checkbox form, "band_#{band}", band %>
    <% end %>
  </div>

  <div class="my-3">
    Mode:
    <%= badge_checkbox form, :fm, "FM" %>
    <%= badge_checkbox form, :dstar, "D-Star" %>
    <%= badge_checkbox form, :fusion, "Fusion" %>
    <%= badge_checkbox form, :dmr, "DMR" %>
    <%= badge_checkbox form, :nxdn, "NXDN" %>
  </div>

  <div class="my-3" data-controller="distance-to-coordinates">
    <%= toggle_checkbox form, :distance_to_coordinates, { data: { distance_to_coordinates_target: "controller" } } %>

    <span data-distance-to-coordinates-target="controlled">Within</span>
    <div class="inline-block relative mt-1 rounded-md shadow-sm w-36"
         data-distance-to-coordinates-target="controlled">
      <%= form.text_field :distance, class: "block w-full
                                             rounded-md border-gray-300
                                             pl-1 pr-20
                                             focus:border-orange-500 focus:ring-orange-500
                                             text-right sm:text-sm", placeholder: 0 %>
      <div class="absolute inset-y-0 right-0 flex items-center">
        <label for="currency" class="sr-only">Unit</label>
        <%= form.select :distance_unit,
                        RepeaterSearch::DISTANCE_UNITS, {}, {
                          class: "h-full rounded-md border-transparent bg-transparent
                                  py-0 pl-1 pr-7
                                  focus:border-orange-500 focus:ring-orange-500 sm:text-sm" } %>
      </div>
    </div>

    <span data-distance-to-coordinates-target="controlled">of the coordinates:</span>
    <%= form.label :latitude, "latitude", data: { distance_to_coordinates_target: "controlled" } %>
    <%= form.text_field :latitude, class: "inline w-28
                                           rounded-md border-gray-300
                                           px-2
                                           focus:border-orange-500 focus:ring-orange-500
                                           text-right sm:text-sm",
                        data: { distance_to_coordinates_target: "controlled" } %>
    <span data-distance-to-coordinates-target="controlled">and</span>
    <%= form.label :longitude, "longitude", data: { distance_to_coordinates_target: "controlled" } %>
    <%= form.text_field :longitude, class: "inline w-28
                                           rounded-md border-gray-300
                                           px-2
                                           focus:border-orange-500 focus:ring-orange-500
                                           text-right sm:text-sm", data: { distance_to_coordinates_target: "controlled" }
    %><span data-distance-to-coordinates-target="controlled">.</span>
  </div>

  <% if !repeater_search.persisted? %>
    <div class="inline">
      <%= form.submit "Search", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="inline">
      <%= form.submit "Save Search",
                      data: { action: "click->repeater-searches#saveSearch" },
                      class: "rounded-lg py-3 px-5 bg-blue-900 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% else %>
    <div class="inline">
      <%= form.submit "Save Search",
                      data: { action: "click->repeater-searches#askToSignInOrLogIn" },
                      class: "rounded-lg py-3 px-5 bg-blue-900 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <div class="relative z-10 hidden"
       aria-labelledby="modal-title" role="dialog" aria-modal="true"
       data-repeater-searches-target="signInOrLogInPopUp">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
         data-repeater-searches-target="modalPanel"
         data-transition-enter="ease-out duration-300"
         data-transition-enter-start="opacity-0"
         data-transition-enter-end="opacity-100"
         data-transition-leave="ease-in duration-200"
         data-transition-leave-start="opacity-100"
         data-transition-leave-end="opacity-0"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
             data-repeater-searches-target="modalPanel"
             data-transition-enter="ease-out duration-300"
             data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
             data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
             data-transition-leave="ease-in duration-200"
             data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
             data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
          <div>
            <div class="mt-3 sm:mt-5">
              <h3 class="text-center text-lg font-medium leading-6 text-gray-900" id="modal-title">
                Log in or Sign up</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500 mb-2">
                  A saved search allows you to easily re-run it later with updated
                  information
                  and also be notified when a change happens (new repeater pops up, or
                  one goes down).
                </p>
                <p class="text-sm text-gray-500">
                  To be able to save a search, you need to log in or sign up to be able
                  to access the saved searches later.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-3 sm:gap-3">
            <%= link_to new_user_registration_url,
                        class: "inline-flex w-full justify-center mt-3 px-4 py-2
                                rounded-md border border-transparent bg-orange-600
                                text-base font-medium text-white shadow-sm
                                hover:bg-orange-700
                                focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2
                                sm:col-start-3 sm:text-sm" do %>
              <i class="fa-regular fa-face-smile text-xl mr-3"></i>
              Sign up
            <% end %>
            <%= link_to new_user_session_url,
                        class: "inline-flex w-full justify-center mt-3 px-4 py-2
                                rounded-md border border-transparent bg-orange-600
                                text-base font-medium text-white shadow-sm
                                hover:bg-orange-700
                                focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2
                                sm:col-start-2 sm:text-sm" do %>
              <i class="fa-solid fa-right-to-bracket text-xl mr-3"></i>
              Log in
            <% end %>
            <button type="button" class="mt-3 inline-flex w-full justify-center
                                         rounded-md border border-gray-300 bg-white px-4 py-2
                                         text-base font-medium text-gray-700 shadow-sm
                                         hover:bg-gray-50
                                         focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2
                                         sm:col-start-1 sm:text-sm"
                    data-action="click->repeater-searches#closeAskToSignInOrLogIn">
              <i class="fa-solid fa-xmark text-xl mr-3"></i>
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
