<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="geosearch my-3" data-controller="geosearch">
  <%= toggle_checkbox form, :geosearch,
                      { data: { action: "change->geosearch#updateState",
                                geosearch_target: "activator" } } %>

  <span class="text-gray-300"
        data-geosearch-target="controlled">Within</span>

  <div class="inline-block relative mt-1 rounded-md shadow-sm w-32">
    <%= form.text_field :distance,
                        class: "block w-full
                                rounded-md border-1 border-gray-300
                                pl-1 pr-20
                                text-right sm:text-sm text-gray-300
                                focus:ring-2 focus:ring-orange-500 focus:border-orange-500",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } %>
    <div class="absolute inset-y-0 right-0 flex items-center">
      <%= form.label :distance_unit, "Unit", class: "sr-only" %>
      <%= form.select :distance_unit,
                      RepeaterSearch::DISTANCE_UNITS, {}, {
                        class: "h-full
                                rounded-r-md border-0
                                bg-transparent
                                py-0 pl-1 pr-7
                                sm:text-sm text-gray-300
                                focus:ring-2 focus:ring-orange-500",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } } %>
    </div>
  </div>

  <span class="text-gray-300"
        data-geosearch-target="controlled">of</span>
  <%= form.select :geosearch_type,
                  { "my location" => RepeaterSearch::MY_LOCATION,
                    "the place" => RepeaterSearch::PLACE,
                    "the coordinates" => RepeaterSearch::COORDINATES,
                    "the grid square" => RepeaterSearch::GRID_SQUARE },
                  {},
                  { class: "inline-block
                            mt-1 pl-3 pr-10
                            rounded-md border-1 border-gray-300
                            sm:text-sm text-gray-300
                            focus:ring-2 focus:ring-orange-500 focus:border-orange-500",
                    data: { geosearch_target: "type controlled",
                            action: "click->geosearch#enable change->geosearch#updateState" } } %>

  <div class="inline-block hidden"
       data-geosearch-target="coordinatesFields">
    <div class="inline-flex items-baseline">
      <%= form.label :latitude, "latitude", class: "mr-2 text-gray-300",
                     data: { geosearch_target: "controlled" } %>
      <%= form.text_field :latitude, class: "inline w-28
                                             rounded-md border-1 border-gray-300
                                             px-2
                                             text-right sm:text-sm text-gray-300
                                             focus:ring-2 focus:ring-orange-500 focus:border-orange-500",
                          data: { geosearch_target: "latitude controlled",
                                  action: "click->geosearch#enable" } %>
    </div>

    <span class="text-gray-300"
          data-geosearch-target="controlled">&nbsp;and</span>

    <div class="inline-flex items-baseline">
      <%= form.label :longitude, "longitude", class: "mr-2 text-gray-300",
                     data: { geosearch_target: "controlled" } %>
      <%= form.text_field :longitude, class: "inline w-28
                                              rounded-md border-1 border-gray-300
                                              px-2
                                              text-right sm:text-sm text-gray-300
                                              focus:ring-2 focus:ring-orange-500 focus:border-orange-500",
                          data: { geosearch_target: "longitude controlled",
                                  action: "click->geosearch#enable" } %>
    </div>
  </div>
  <div class="inline-block hidden"
       data-geosearch-target="gridSquareFields">
    <%= form.text_field :grid_square, class: "inline w-28
                                              rounded-md border-1 border-gray-300
                                              px-2
                                              sm:text-sm text-gray-300
                                              focus:ring-2 focus:ring-orange-500 focus:border-orange-500",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } %>
  </div>

  <div class="inline-block hidden"
       data-geosearch-target="placeFields">
    <%= form.text_field :place,
                        class: "inline w-80
                                rounded-md border-1 border-gray-300
                                px-2
                                sm:text-sm text-gray-300
                                focus:ring-2 focus:ring-orange-500 focus:border-orange-500",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } %>
  </div>
</div>
