<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="geosearch my-3" data-controller="geosearch">
  <%= toggle_checkbox form, :geosearch,
                      { data: { action: "change->geosearch#toggleEnableDisable",
                                geosearch_target: "activator" } } %>

  <span class="text-gray-300"
        data-geosearch-target="controlled">Within</span>

  <div class="inline-block relative mt-1 rounded-md shadow-sm w-36">
    <%= form.text_field :distance,
                        placeholder: 0,
                        class: "block w-full
                                rounded-md border-gray-300
                                pl-1 pr-20
                                text-right sm:text-sm text-gray-300
                                focus:border-orange-500 focus:ring-orange-500",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } %>
    <div class="absolute inset-y-0 right-0 flex items-center">
      <%= form.label :distance_unit, "Unit", class: "sr-only" %>
      <%= form.select :distance_unit,
                      RepeaterSearch::DISTANCE_UNITS, {}, {
                        class: "h-full rounded-md border-transparent bg-transparent
                                py-0 pl-1 pr-7
                                sm:text-sm text-gray-300
                                focus:border-orange-500 focus:ring-orange-500",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } } %>
    </div>
  </div>

  <span class="text-gray-300"
        data-geosearch-target="controlled">of the coordinates:</span>

  <div class="inline-flex items-baseline">
    <%= form.label :latitude, "latitude", class: "mr-2 text-gray-300",
                   data: { geosearch_target: "controlled" } %>
    <%= form.text_field :latitude, class: "inline w-28
                                           rounded-md border-gray-300
                                           px-2
                                           text-right sm:text-sm text-gray-300
                                           focus:border-orange-500 focus:ring-orange-500",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } %>
  </div>

  <span class="text-gray-300"
        data-geosearch-target="controlled">&nbsp;and</span>

  <div class="inline-flex items-baseline">
    <%= form.label :longitude, "longitude", class: "mr-2 text-gray-300",
                   data: { geosearch_target: "controlled" } %>
    <%= form.text_field :longitude, class: "inline w-28
                                            rounded-md border-gray-300
                                            px-2
                                            text-right sm:text-sm text-gray-300
                                            focus:border-orange-500 focus:ring-orange-500",
                        data: { geosearch_target: "controlled",
                                action: "click->geosearch#enable" } %>

    <span class="text-gray-300"
          data-geosearch-target="controlled">.</span>
  </div>
</div>
