<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<%= form_with(model: repeater_search,
              method: :get, # It's get because by default it shouldn't save, so you can search without altering your saved searches.
              url: search_url,
              scope: :s,
              html: { data: { repeater_searches_target: "form",
                              save_url: save_url,
                              save_method: save_method,
                              action: "keypress.enter->repeater-searches#submit" } }) do |form| %>
  <% show_name_field = repeater_search.saving || repeater_search.persisted?
     unsaved_changes = repeater_search.persisted? && repeater_search.changed? %>

  <%= render "shared/forms/error_summary", resource: @repeater_search %>

  <% if show_name_field %>
    <div class="mb-3 flex flex-row items-baseline gap-3">
      <%= form.label :name, "Name:", class: "mr-2" %>
      <div class="mt-1 sm:mt-0 grow">
        <%= form.text_field :name, class: "field-text w-full" %>
        <% repeater_search.errors.where(:name).each do |error| %>
          <p class="mt-2 text-red-600 dark:text-red-300"><%= error.full_message %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="mb-3 flex flex-row flex-wrap gap-2">
    <%= form_text_field form, :search_terms, label: :skip,
                        input_html_options: { autofocus: true, placeholder: "Optional search terms" },
                        wrapper_html_options: { class: "w-full" } %>
  </div>

  <div class="mb-3 flex flex-row flex-wrap gap-2"
       data-controller="multi-toggle">
    <%= toggle_like_button "All Bands",
                           checked: RepeaterSearch::BANDS.map { |b| form.object.send(b[:name]) }.none?,
                           data: { action: "click->multi-toggle#selectAll",
                                   multi_toggle_target: "all" } %>
    <% RepeaterSearch::BANDS.each do |band| %>
      <%= toggle_button form, band[:name], band[:label],
                        class: "#{band[:secondary] ? "hidden" : ""}",
                        data: { action: "click->multi-toggle#updateStatusOfAllButton",
                                multi_toggle_target: "toggle" } %>
    <% end %>

    <button class="button-secondary"
            data-action="click->multi-toggle#showMore"
            data-multi-toggle-target="more">
      More Bands
    </button>
  </div>

  <div class="mb-3 flex flex-row flex-wrap gap-2"
       data-controller="multi-toggle">
    <%= toggle_like_button "All Modes",
                           checked: RepeaterSearch::MODES.map { |m| form.object.send(m[:name]) }.none?,
                           data: { action: "click->multi-toggle#selectAll",
                                   multi_toggle_target: "all" } %>
    <% RepeaterSearch::MODES.each do |mode| %>
      <%= toggle_button form, mode[:name], mode[:label],
                        class: "#{mode[:secondary] ? "hidden" : ""}",
                        data: { action: "click->multi-toggle#updateStatusOfAllButton",
                                multi_toggle_target: "toggle" } %>
    <% end %>

    <button class="button-secondary" data-action="click->multi-toggle#showMore" data-multi-toggle-target="more">
      More Modes
    </button>
  </div>

  <%= render "form_geosearch", { form: form } %>

  <% if unsaved_changes %>
    <p>You have unsaved changes to your search.</p>
  <% end %>

  <div class="flex flex-row flex-wrap gap-2">
    <button type="submit" class="button">
      <i class="fa-solid fa-magnifying-glass"></i>
      Search
    </button>

    <% if !@repeaters.nil? %>
      <% if !user_signed_in? %> <%# Not logged in, the save search button invites you to sign up. %>
        <button type="button" class="button-secondary" data-action="click->repeater-searches#showAuthBeforeSavePopUp">
          <i class="fa-regular fa-bookmark"></i>
          Save Search
        </button>

      <% elsif show_name_field %> <%# logged in and the search has already been saved, or is being saved %>
        <button type="submit" class="button-secondary" data-action="click->repeater-searches#saveSearch">
          <i class="fa-regular fa-bookmark"></i>
          Save Search
        </button>

      <% else %>  <%# logged in but this search is not saved yet %>
        <button type="button" class="button-secondary" data-action="click->repeater-searches#showFirstSavePopUp">
          <i class="fa-regular fa-bookmark"></i>
          Save Search
        </button>
      <% end %>

      <button type="button" class="button-secondary" data-action="click->repeater-searches#showExportPopUp">
        <i class="fa-solid fa-cloud-arrow-down"></i>
        Export
      </button>
    <% end %>

    <% if unsaved_changes %>
      <%= link_to repeater_search,
                  type: "button",
                  class: "button-secondary" do %>
        <i class="fa-solid fa-xmark"></i>
        Discard Changes
      <% end %>
    <% end %>
  </div>

  <% if @export_url %>
    <div>
      If your download doesn't start automatically:
      <%= link_to "Download export.csv", @export_url, class: "link", data: { repeater_searches_target: "exportLink" } %>
    </div>
  <% end %>

  <% if !user_signed_in? %> <%# Pop up for when the user is not logged in. %>
    <%= pop_up title: "Save Search", data: { repeater_searches_target: "authBeforeSavePopUp" } do %>
      <p class="mb-2">
        A saved search allows you to easily re-run it later with updated information and also be notified when a change
        happens (new repeater pops up, or one goes down).
      </p>
      <p class="">
        To be able to save a search, you need to log in or sign up to be able to access the saved searches later.
      </p>
      <div class="mt-5 sm:mt-6
                  flex flex-col-reverse sm:flex-row sm:flex-wrap justify-end gap-3">
        <%= link_to new_user_session_url, class: "button-secondary" do %>
          <i class="fa-solid fa-right-to-bracket text-xl mr-3"></i>
          Log in
        <% end %>
        <%= link_to new_user_registration_url, class: "button" do %>
          <i class="fa-regular fa-face-smile text-xl mr-3"></i>
          Sign up
        <% end %>
      </div>
    <% end %>

  <% elsif !show_name_field %> <%# Pop up for when the search is not yet saved (and not being saved). %>
    <%= pop_up title: "Save Search", data: { repeater_searches_target: "firstSavePopUp" } do %>
      <p class="mb-2">
        To save a search you need to give it a name, something that'll help you remember what it is.
      </p>
      <div class="flex items-baseline gap-3 justify-items-stretch">
        <%= form.label :name, "Name:", class: "mr-2" %>
        <div class="mt-1 sm:mt-0 grow">
          <%= form.text_field :name, class: "field-text w-full", data: { action: "keypress.enter->repeater-searches#saveSearch" } %>
          <% repeater_search.errors.where(:name).each do |error| %>
            <p class="mt-2 text-red-600 dark:text-red-300"><%= error.full_message %></p>
          <% end %>
        </div>
      </div>
      <div class="mt-5 sm:mt-6 flex flex-col-reverse sm:flex-row sm:flex-wrap justify-end gap-3">
        <button type="submit" class="button" data-action="click->repeater-searches#saveSearch">
          <i class="fa-regular fa-bookmark mr-2"></i>
          Save Search
        </button>
      </div>
    <% end %>
  <% end %>

  <%= pop_up title: "Export", data: { repeater_searches_target: "exportPopUp" } do %>
    <div class="flex items-baseline gap-3 justify-items-stretch">
      <div class="shrink">Export for:</div>
      <%= select_tag(:"e[format]",
                     grouped_options_for_select(Exporters::SUPPORTED_FORMATS),
                     class: "grow
                             mt-1 py-2 pl-3
                             rounded-md border-gray-300
                             focus:border-orange-500 focus:outline-none focus:ring-orange-500 ") %>
    </div>
    <div class="mt-5 sm:mt-6
                flex flex-col-reverse sm:flex-row sm:flex-wrap justify-end gap-3">
      <button type="submit" class="button" data-action="click->repeater-searches#export">
        <i class="fa-solid fa-cloud-arrow-down mr-2"></i>
        Export
      </button>
    </div>
  <% end %>
<% end %>
