<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="shadow-sm ring-1 ring-black ring-opacity-5">
  <table class="min-w-full border-separate" style="border-spacing: 0">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">
          Name
        </th>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">
          Call Sign
        </th>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter text-right">
          Band
        </th>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">
          Modes
        </th>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">
          Operational
        </th>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter text-right">
          TX Frequency
        </th>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter text-right">
          <div data-action="click->repeater#toggleRxFrequencyFormat"
               class="cursor-pointer">
            RX Frequency
          </div>
        </th>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">
          <div data-action="click->repeater#changeLocationFormat"
               class="cursor-pointer">
            Location
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <% repeaters.each_with_index do |repeater, index| %>
        <tr class="<%= index.even? ? "bg-white" : "bg-gray-50" %>">
          <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-900">
            <%= link_to repeater.name, repeater, class: "link font-bold" %>
          </td>
          <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-900">
            <%= link_to repeater.call_sign, repeater, class: "link font-bold" %>
          </td>
          <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 text-right">
            <%= repeater.band %>
          </td>
          <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
            <%= repeater.modes.join(", ") %>
          </td>
          <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
            <%= render partial: "shared/card/boolean", locals: { value: repeater.operational } %>
          </td>
          <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 text-right">
            <%= repeater.tx_frequency_in_mhz %>
          </td>
          <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500 text-right">
            <div data-action="click->repeater#toggleRxFrequencyFormat"
                 class="cursor-pointer">
              <div title="<%= repeater.rx_offset_in_khz %>"
                   data-repeater-target="rxFreqAsFreq">
                <%= repeater.rx_frequency_in_mhz %>
              </div>
              <div title="<%= repeater.rx_frequency / (10 ** 6) %>MHz"
                   data-repeater-target="rxFreqAsOffset"
                   class="hidden">
                <%= repeater.rx_offset_in_khz %>
              </div>
            </div>
          </td>
          <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
            <div data-action="click->repeater#changeLocationFormat"
                 class="cursor-pointer">
              <div data-repeater-target="locationFormat1">
                <%= repeater.location_in_words %>
              </div>
              <div data-repeater-target="locationFormat2" class="hidden">
                Lat: <%= repeater.latitude %>, Long: <%= repeater.longitude %>
              </div>
              <div data-repeater-target="locationFormat3" class="hidden">
                <%= repeater.grid_square %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate repeaters %>
