<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<ul role="list"
    class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
  <% repeaters.each do |repeater| %>
    <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white shadow
                   border border-gray-200"
        id="<%= dom_id repeater %>">
      <div class="px-2 pt-5 pb-3 sm:px-3">
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          <%= link_to repeater.name, repeater, class: "link" %>
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          <%= repeater.band %> <%= repeater.modes.to_sentence %>
        </p>
      </div>
      <div class="border-t border-gray-200 px-2 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <%= card_entry(label: "Call Sign", value: repeater.call_sign ) %>
          <%= card_entry(label: "Band", value: repeater.band, optional: true) %>
          <%= card_entry(label: "Modes", value: repeater.modes.join(", ") ) %>
          <%= card_entry(label: "Operational", value: repeater.operational) %>
          <%= card_entry(label: "TX Frequency", value: repeater.tx_frequency) do %>
            <%= frequency_in_mhz(repeater.tx_frequency) %>
          <% end %>
          <%= card_entry(label: "RX Frequency", value: repeater.rx_frequency) do %>
            <%= render "shared/repeater/rx_frequency", repeater: repeater %>
          <% end %>
          <%= card_entry(label: "Location") do %>
            <%= render "shared/repeater/location", repeater: repeater %>
          <% end %>
        </dl>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate repeaters %>
