<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Foobar. If not, see
<https://www.gnu.org/licenses/>.%>

<li class="flex items-center justify-between gap-x-6 py-5"
    id="<%= dom_id repeater_search %>"
    data-controller="repeater-search-row">

  <div class="min-w-0">
    <div class="flex items-start gap-x-3">
      <p class="text-sm font-semibold leading-6 text-gray-900">
        <%= link_to repeater_search.name, repeater_search %>
      </p>

      <% if repeater_search.band_10m? %>
        <%= badge "10m" %>
      <% end %>
      <% if repeater_search.band_6m? %>
        <%= badge "6m" %>
      <% end %>
      <% if repeater_search.band_4m? %>
        <%= badge "4m" %>
      <% end %>
      <% if repeater_search.band_2m? %>
        <%= badge "2m" %>
      <% end %>
      <% if repeater_search.band_70cm? %>
        <%= badge "70cm" %>
      <% end %>
      <% if repeater_search.band_23cm? %>
        <%= badge "23cm" %>
      <% end %>
      <% if repeater_search.all_bands? %>
        <%= badge "All Bands" %>
      <% end %>

      <% if repeater_search.fm? %>
        <%= badge "FM" %>
      <% end %>
      <% if repeater_search.dstar? %>
        <%= badge "D-Star" %>
      <% end %>
      <% if repeater_search.fusion? %>
        <%= badge "Fusion" %>
      <% end %>
      <% if repeater_search.dmr? %>
        <%= badge "DMR" %>
      <% end %>
      <% if repeater_search.nxdn? %>
        <%= badge "NXDN" %>
      <% end %>
      <% if repeater_search.all_modes? %>
        <%= badge "All Modes" %>
      <% end %>

      <% if repeater_search.distance_to_coordinates? %>
        <%= badge "Geo" %>
      <% end %>
    </div>

    <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
      <p class="whitespace-nowrap">
        Created on
        <time datetime="<%= repeater_search.created_at.iso8601 %>">
          <%= repeater_search.created_at.to_date.to_formatted_s(:long_ordinal) %>
        </time>
      </p>
      ·
      <p class="whitespace-nowrap">
        Last changed on on
        <time datetime="<%= repeater_search.updated_at.iso8601 %>">
          <%= repeater_search.updated_at.to_date.to_formatted_s(:long_ordinal) %>
        </time>
      </p>
    </div>
  </div>

  <div class="flex flex-none items-center gap-x-4">
    <%= dropdown_menu do %>
      <%= link_to repeater_search, class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                  role: "menuitem", tabindex: "-1" do %>
        <i class="fa-solid fa-eye mr-2"></i> Show <span class="sr-only"><%= repeater_search.name %></span>
      <% end %>
      <%= link_to repeater_search, class: "block px-3 py-1 text-sm leading-6 text-gray-900",
                  role: "menuitem", tabindex: "-1" do %>
        <i class="fa-solid fa-pen mr-2"></i> Edit <span class="sr-only"><%= repeater_search.name %></span>
      <% end %>
      <button class="block px-3 py-1 text-sm leading-6 text-gray-900"
              role="menuitem" tabindex="-1"
              data-action="click->repeater-search-row#showDeletePopUp">
        <i class="fa-solid fa-trash mr-2"></i> Delete <span class="sr-only"><%= repeater_search.name %></span>
      </button>
    <% end %>
  </div>

  <%= pop_up title: "Are you sure?",
             links: [{ text: "Sign up", url: new_user_registration_url, icon: "fa-regular fa-face-smile" },
                     { text: "Log in", url: new_user_session_url, icon: "fa-solid fa-right-to-bracket" }],
             data: { repeater_search_row_target: "deletePopUp" } do %>
    <p class="text-sm text-gray-500 mb-2">
      Are you sure you want to delete your repeater search named "<%= repeater_search.name %>"?
    </p>
    <p class="text-sm text-gray-500">
      This action is not reversible.
    </p>

    <div class="mt-5 sm:mt-6
                  flex flex-col-reverse sm:flex-row sm:flex-wrap justify-end gap-3">
      <button class="button-secondary" data-action="click->pop-up#hide">
        <i class="fa-solid fa-times text-xl mr-3"></i>
        Cancel
      </button>
      <%= button_to repeater_search, method: :delete, class: "button" do %>
        <i class="fa-solid fa-trash text-xl mr-3"></i>
        Delete
      <% end %>
    </div>
  <% end %>
</li>
