<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<ul role="list"
    class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
  <% repeaters.each do |repeater| %>
    <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white shadow
                   border border-gray-200"
        id="<%= dom_id repeater %>">
      <div class="px-2 pt-5 pb-3 sm:px-3">
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          <%= link_to repeater.name, repeater, class: "link" %>
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          <%= repeater.band %> <%= repeater.modes.to_sentence %>
        </p>
      </div>
      <div class="border-t border-gray-200 px-2 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <%= card_entry(label: "Call Sign", value: repeater.call_sign ) %>
          <%= card_entry(label: "Band", value: repeater.band, optional: true) %>
          <%= card_entry(label: "Modes", value: repeater.modes.join(", ") ) %>
          <%= card_entry(label: "Operational", value: repeater.operational) %>
          <%= card_entry(label: "TX Frequency", value: repeater.tx_frequency) do %>
            <%= repeater.tx_frequency_in_mhz %>
          <% end %>
          <%= card_entry(label: "RX Frequency", value: repeater.rx_frequency) do %>
            <div data-action="click->repeater#toggleRxFrequencyFormat"
                 class="cursor-pointer">
              <% offset = "#{(repeater.rx_frequency - repeater.tx_frequency > 0) ? "+" : ""}#{((repeater.rx_frequency - repeater.tx_frequency) / (10 ** 3)).to_i}kHz" %>
              <div title="<%= offset %>"
                   data-repeater-target="rxFreqAsFreq">
                <%= repeater.rx_frequency_in_mhz %>
              </div>
              <div title="<%= repeater.rx_frequency_in_mhz %>"
                   data-repeater-target="rxFreqAsOffset"
                   class="hidden">
                <%= offset %>
              </div>
            </div>
          <% end %>
          <%= card_entry(label: "Location") do %>
            <div data-action="click->repeater#changeLocationFormat"
                 class="cursor-pointer">
              <div data-repeater-target="locationFormat1">
                <%= [repeater.address, repeater.locality, repeater.region, repeater.post_code, repeater.country.name].reject(&:blank?).join(", ") %>
              </div>
              <div data-repeater-target="locationFormat2" class="hidden">
                Lat: <%= repeater.latitude %>, Long: <%= repeater.longitude %>
              </div>
              <div data-repeater-target="locationFormat3" class="hidden">
                <%= repeater.grid_square %>
              </div>
            </div>
          <% end %>
        </dl>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate repeaters %>
