<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<% table_header_classes = "sticky top-0 z-10 border-b border-gray-300 dark:border-gray-500 px-3 py-3.5 text-left font-semibold backdrop-blur backdrop-filter"
   cell_classes = "whitespace-nowrap border-b border-gray-200 dark:border-gray-600 px-3 py-4" %>

<div class="shadow-sm ring-1 ring-black ring-opacity-5 overflow-x-scroll">
  <table class="min-w-full border-separate" style="border-spacing: 0">
    <thead class="bg-gray-200 dark:bg-gray-600">
      <tr>
        <th scope="col" class="<%= table_header_classes %>">
          Name
        </th>
        <th scope="col" class="<%= table_header_classes %>">
          Call Sign
        </th>
        <% if repeaters.first&.respond_to?(:distance) %>
          <th scope="col" class="<%= table_header_classes %> text-right">
            Distance
          </th>
        <% end %>
        <% if repeaters.first&.respond_to?(:azimuth) %>
          <th scope="col" class="<%= table_header_classes %> text-right">
            Azimuth
          </th>
        <% end %>
        <th scope="col" class="<%= table_header_classes %> text-right">
          Band
        </th>
        <th scope="col" class="<%= table_header_classes %>">
          Modes
        </th>
        <th scope="col" class="<%= table_header_classes %>">
          Operational
        </th>
        <th scope="col" class="<%= table_header_classes %> text-right">
          TX Frequency
        </th>
        <th scope="col" class="<%= table_header_classes %> text-right">
          <div data-action="click->repeater#toggleRxFrequencyFormat"
               class="cursor-pointer underline hover:text-orange-800">
            RX Frequency
          </div>
        </th>
        <th scope="col" class="<%= table_header_classes %> text-right">
          CTCSS
        </th>
        <th scope="col" class="<%= table_header_classes %>">
          <div data-action="click->repeater#changeLocationFormat"
               class="cursor-pointer underline hover:text-orange-800">
            Location
          </div>
        </th>
        <th scope="col" class="<%= table_header_classes %>">
        </th>
      </tr>
    </thead>
    <tbody class="">
      <% repeaters.each_with_index do |repeater, index| %>
        <tr class="<%= index.even? ? "" : "bg-gray-100 dark:bg-gray-800" %>">
          <th scope="row" class="<%= cell_classes %> text-left">
            <%= link_to repeater.name, repeater, class: "link font-bold" %>
          </th>
          <td class="<%= cell_classes %>">
            <%= link_to repeater.call_sign, repeater, class: "link font-bold" %>
          </td>
          <% if repeater.respond_to?(:distance) %>
            <td class="<%= cell_classes %>  text-right">
              <%= distance_in_unit(repeater.distance, @repeater_search.distance_unit) %>
            </td>
          <% end %>
          <% if repeater.respond_to?(:azimuth) %>
            <td class="<%= cell_classes %>  text-right">
              <%= repeater.azimuth.round %>°
            </td>
          <% end %>
          <td class="<%= cell_classes %>  text-right">
            <%= repeater.band %>
          </td>
          <td class="<%= cell_classes %> ">
            <%= modes(repeater).join(", ") %>
          </td>
          <td class="<%= cell_classes %> ">
            <%= render partial: "shared/card/boolean", locals: { value: repeater.operational } %>
          </td>
          <td class="<%= cell_classes %>  text-right">
            <%= frequency_in_mhz(repeater.tx_frequency) %>
          </td>
          <td class="<%= cell_classes %>  text-right">
            <%= render "shared/repeater/rx_frequency", repeater: repeater %>
          </td>
          <td class="<%= cell_classes %>  text-right">
            <%= repeater.fm_ctcss_tone if repeater.fm? %>
          </td>
          <td class="<%= cell_classes %> ">
            <%= render "shared/repeater/location", repeater: repeater %>
          </td>
          <td class="<%= cell_classes %>">
            <%= link_to "More", repeater, class: "link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate repeaters %>
