<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render "form", repeater_search: @repeater_search %>

    <%= link_to 'Edit this repeater_search', edit_repeater_search_path(@repeater_search), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this repeater_search', repeater_search_path(@repeater_search), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to repeater_searches', repeater_searches_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>


<div id="repeaters" class="min-w-full">
  <%= render @repeaters %>
</div>
