<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<%# This is the top bar of the application, the one containing the menu. %>
<nav class="border-b border-gray-200 dark:border-gray-700"
     data-controller="top-bar">

  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between h-16">

      <%# Logo and name on the top left %>
      <div class="flex flex-row items-center">
        <%= link_to root_url, class: "contents" do %>
          <svg class="h-8 fill-gray-800 dark:fill-gray-100" viewBox="0 0 384 512">
            <path d="M112 24c0-13.3-10.7-24-24-24S64 10.7 64 24V96H48C21.5 96 0 117.5 0 144V300.1c0 12.7 5.1 24.9 14.1 33.9l3.9 3.9c9 9 14.1 21.2 14.1 33.9V464c0 26.5 21.5 48 48 48H304c26.5 0 48-21.5 48-48V371.9c0-12.7 5.1-24.9 14.1-33.9l3.9-3.9c9-9 14.1-21.2 14.1-33.9V144c0-26.5-21.5-48-48-48H320c0-17.7-14.3-32-32-32s-32 14.3-32 32H224c0-17.7-14.3-32-32-32s-32 14.3-32 32H112V24zm0 136H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>
          </svg>
        <% end %>
        <%= link_to root_url, class: "contents" do %>
          <span class="ml-3 text-xl whitespace-nowrap
                       text-gray-800 dark:text-gray-100">Repeater World</span>
        <% end %>
      </div>

      <%# Right aligned content on the menu %>
      <div class="hidden md:flex flex-row">

        <%# Top bar menu entries %>
        <div class="hidden md:flex flex-row md:space-x-4 lg:space-x-8">
          <%= render "layouts/top_bar_desktop_menu" %>
        </div>

        <%# Top bar buttons. %>
        <div class="flex flex-row self-center md:ml-2 lg:ml-4 md:space-x-1 lg:space-x-2">
          <button class="w-10 h-10 inline-flex items-center justify-center rounded-md
                         text-gray-400 bg-transparent
                         hover:text-gray-500 hover:bg-gray-100
                         focus:outline-dotted focus:bg-orange-50 focus:text-gray-500 focus:bg-gray-100 outline-2 outline-orange-600
                         dark:hidden"
                  data-action="click->light-dark-switcher#dark">
            <i class="fa-solid fa-moon"></i>
          </button>
          <button class="w-10 h-10 inline-flex items-center justify-center rounded-md
                         text-gray-400 bg-transparent
                         hover:text-gray-300 hover:bg-gray-700
                         focus:outline-dotted focus:bg-orange-50 focus:text-gray-300 focus:bg-gray-700 outline-2 outline-orange-600
                         hidden dark:block"
                  data-action="click->light-dark-switcher#light">
            <i class="fa-solid fa-sun"></i>
          </button>
          <div class="relative">
            <button type="button"
                    class="w-10 h-10 inline-flex items-center justify-center rounded-md
                           text-gray-400 bg-transparent
                           hover:text-gray-500 hover:bg-gray-100
                           dark:hover:text-gray-300 dark:hover:bg-gray-700
                           focus:outline-dotted focus:bg-orange-50 focus:text-gray-500 focus:bg-gray-100 outline-2 outline-orange-600
                           dark:focus:text-gray-300 dark:focus:bg-gray-700"
                    aria-controls="mobile-menu"
                    aria-expanded="false"
                    data-action="click->top-bar#toggleDesktopExtraMenu"
                    data-top-bar-target="desktopExtraMenuButton">
              <span class="sr-only">Open main menu</span>
              <div data-top-bar-target="mobileOpenMenuButton" aria-hidden="true">
                <i class="fa-solid fa-bars"></i>
              </div>
              <div class="hidden" data-top-bar-target="mobileCloseMenuButton" aria-hidden="true">
                <i class="fa-solid fa-times"></i>
              </div>
            </button>
            <div class="hidden z-10 origin-top-right absolute right-0 mt-2 w-64 rounded-md shadow-lg py-1
                        focus:outline-none
                        bg-gray-100 dark:bg-gray-700
                        border border-gray-200 dark:border-gray-900"
                 role="menu"
                 aria-orientation="vertical"
                 aria-labelledby="extra-menu-button"
                 tabindex="-1"
                 data-top-bar-target="desktopExtraMenu"
                 data-transition-enter="transition ease-out duration-100"
                 data-transition-enter-start="transform opacity-0 scale-95"
                 data-transition-enter-end="transform opacity-100 scale-100"
                 data-transition-leave="transition ease-in duration-75"
                 data-transition-leave-start="transform opacity-100 scale-100"
                 data-transition-leave-end="transform opacity-0 scale-95">
              <%= render "layouts/top_bar_desktop_extra_menu" %>
            </div>
          </div>
        </div>
      </div>

      <%# Mobile version of the top bar. %>
      <div class="-mr-2 flex items-center md:hidden">
        <%# Mobile menu button %>
        <button type="button"
                class="w-10 h-10 inline-flex items-center justify-center rounded-md
                       text-gray-400 bg-transparent
                       hover:text-gray-500 hover:bg-gray-100
                       dark:hover:text-gray-300 dark:hover:bg-gray-700
                       focus:outline-dotted focus:bg-orange-50 focus:text-gray-500 focus:bg-gray-100 outline-2 outline-orange-600
                       dark:focus:text-gray-300 dark:focus:bg-gray-700"
                aria-controls="mobile-menu"
                aria-expanded="false"
                data-action="click->top-bar#toggleMobileMenu"
                data-top-bar-target="mobileMenuButton">
          <span class="sr-only">Open main menu</span>
          <div data-top-bar-target="mobileOpenMenuButton" aria-hidden="true">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="hidden" data-top-bar-target="mobileCloseMenuButton" aria-hidden="true">
            <i class="fa-solid fa-times"></i>
          </div>
        </button>
      </div>
    </div>
  </div>

  <%# Mobile menu that is hidden by default %>
  <div class="hidden"
       data-top-bar-target="mobileMenu"
       data-transition-enter="transition ease-out duration-100"
       data-transition-enter-start="transform opacity-0 translate-y-95"
       data-transition-enter-end="transform opacity-100 translate-y-100"
       data-transition-leave="transition ease-in duration-75"
       data-transition-leave-start="transform opacity-100 translate-y-100"
       data-transition-leave-end="transform opacity-0 translate-y-95">
    <div class="pt-2 pb-3 space-y-1">
      <%= render "layouts/top_bar_mobile_menu" %>
    </div>
  </div>
</nav>
