<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <% if content_for? :head_title %>
        <%= yield :head_title %> - Repeater World
      <% else %>
        Repeater World
      <% end %>
    </title>
    <% if content_for? :meta_description %>
      <meta name="description" content="<%= yield :meta_description %>">
    <% end %>
    <% if @noindex %>
      <meta name="robots" content="noindex">
    <% end %>
    <% if content_for? :canonical_url %>
      <link rel="canonical" href="<%= yield :canonical_url %>"/>
    <% else %>
      <link rel="canonical" href="<%= request.original_url %>"/>
    <% end %>

    <%# Security tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Style, favicon and other look and feel aspects. %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# Created with https://realfavicongenerator.net %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ea580c">
    <meta name="theme-color" content="#ffffff">

    <%# JavaScript %>
    <script>
        <%# Copied from light_dark_switcher_controller.js to avoid FOUC %>
        if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        }

        const RAILS_ENV = <%= javascript_quoted_string_or_null(Rails.env) %>;
        const IS_PULL_REQUEST = <%= javascript_quoted_string_or_null(ENV["IS_PULL_REQUEST"]) %>;
        const RENDER = <%= javascript_quoted_string_or_null(ENV["RENDER"]) %>;
        const RENDER_SERVICE_NAME = <%= javascript_quoted_string_or_null(ENV["RENDER_SERVICE_NAME"]) %>;
        const SENTRY_DSN = <%= javascript_quoted_string_or_null(ENV["SENTRY_DSN_FE"]) %>;
        const CROSSHAIRS_MAP_MARKER = "<%= image_url("map_markers/crosshairs.svg") %>";
        const REPEATER_MAP_MARKERS = <%= RepeaterSearch::BANDS.to_h do |band|
          [band[:symbol], RepeaterSearch::MODES_AND_MULTI.to_h do |mode|
            [mode[:symbol], image_url("map_markers/marker-#{band[:symbol]}-#{mode[:symbol]}.svg")]
          end]
        end.to_json.html_safe %>;
    </script>
    <%= javascript_importmap_tags %>

    <%# Fathom %>
    <% if ENV["FATHOM_ID"].present? %>
      <script src="https://cdn.usefathom.com/script.js" data-site="<%= ENV["FATHOM_ID"] %>" defer></script>
    <% end %>

    <%# Google maps: https://www.driftingruby.com/episodes/google-maps-api-with-stimulusjs %>
    <script>
        window.dispatchMapsEvent = function (...args) {
            const event = document.createEvent("Events")
            event.initEvent("google-maps-callback", true, true)
            event.args = args
            window.dispatchEvent(event)
        }
    </script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAPS_API_KEY"]}&callback=dispatchMapsEvent",
                               async: true,
                               defer: true,
                               "data-turbolinks-eval": false %>
  </head>
  <body class="flex flex-col
               text-gray-900 bg-gray-50
               dark:text-gray-200 dark:bg-gray-900"
        data-controller="light-dark-switcher">
    <div class="min-h-screen flex flex-col">
      <%= render "layouts/top_bar" %>

      <main class="py-2 grow flex flex-col">
        <% if !@flash_messages_shown %>
          <div class="mx-10">
            <%= render "shared/flash_messages" %>
          </div>
        <% end %>
        <%= yield %>
      </main>

      <%= render "layouts/cookie_popup" %>

      <footer class="mt-24
                     text-gray-600 bg-gray-200
                     dark:text-gray-300 dark:bg-gray-950">
        <nav class="mx-4
                    my-2 md:my-4 lg:my-6 xl:my-8
                    flex justify-center flex-wrap
                    gap-x-4 lg:gap-x-8 xl:gap-x-10
                    gap-y-2 lg:gap-y-6 xl:gap-y-8
                    text-sm"
             aria-label="Footer">
          <%= link_to "Values", values_url, class: "hover:text-orange-500 hover:underline" %>
          <%= link_to "Map Legend", map_legend_url, class: "hover:text-orange-500 hover:underline" %>
          <%= link_to "Report a Bug", "https://github.com/flexpointtech/repeater_world/issues/new", class: "hover:text-orange-500 hover:underline" %>
          <%= link_to "Privacy Policy", privacy_policy_url, class: "hover:text-orange-500 hover:underline" %>
          <%= link_to "Cookie Policy", cookie_policy_url, class: "hover:text-orange-500 hover:underline" %>
          <%= link_to "Directory", directory_url, class: "hover:text-orange-500 hover:underline" %>
          <%= mail_to "info@repeater.world", "Email Us", class: "hover:text-orange-500 hover:underline" %>
        </nav>

        <div class="mx-4
                    my-2 md:my-4 lg:my-6 xl:my-8
                    flex justify-center space-x-10
                    text-2xl">
          <%= link_to "https://youtube.com/@RepeaterWorld", class: "hover:text-orange-500", rel: "me" do %>
            <span class="sr-only">YouTube</span>
            <i class="fa-brands fa-youtube"></i>
          <% end %>
          <%= link_to "https://mastodon.radio/@RepeaterWorld", class: "hover:text-orange-500", rel: "me" do %>
            <span class="sr-only">Mastodon</span>
            <i class="fa-brands fa-mastodon"></i>
          <% end %>
          <%= link_to "https://facebook.com/RepeaterWorldApp", class: "hover:text-orange-500", rel: "me" do %>
            <span class="sr-only">Facebook</span>
            <i class="fa-brands fa-facebook"></i>
          <% end %>
          <%= link_to "https://twitter.com/RepeaterWorld", class: "hover:text-orange-500", rel: "me" do %>
            <span class="sr-only">Twitter</span>
            <i class="fa-brands fa-twitter"></i>
          <% end %>
        </div>
      </footer>
    </div>

    <footer class="text-gray-700 bg-gray-200
                   dark:text-gray-400 dark:bg-gray-950
                   text-center text-xs ">
      <p class="mt-10">
        &copy; <%= Time.zone.now.year %> Flexpoint Tech Ltd. All rights reserved.
      </p>
      <p class="mt-2">
        Flexpoint Tech Ltd is a company registered England and Wales (Company No. 10362469) 20-22 Wenlock Road, London,
        N1 7GU, England, United Kingdom
      </p>

      <% if Rails.env.development? %>
        <p class="text-center">
          Width:
          <span class="sm:hidden">&lt;sm</span>
          <span class="hidden sm:inline md:hidden">sm</span>
          <span class="hidden md:inline lg:hidden">md</span>
          <span class="hidden lg:inline xl:hidden">lg</span>
          <span class="hidden xl:inline 2xl:hidden">xl</span>
          <span class="hidden 2xl:inline">2xl</span>
        </p>
      <% end %>
    </footer>
  </body>
</html>
