<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h1 class="mt-6 text-center text-3xl font-extrabold">Sign up</h1>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="py-8 px-4 shadow sm:rounded-lg sm:px-10 border border-gray-200">
      <%= render "shared/flash_messages" %>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true, class: "space-y-6" }) do |f| %>
        <%= render "shared/forms/error_summary", resource: resource %>

        <div>
          <%= f.label :email, class: "block font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              class: "field-text block max-w-lg sm:max-w-sm w-full" %>
            <% resource.errors.where(:email).each do |error| %>
              <p class="mt-2 text-red-600 dark:text-red-300"><%= error.full_message %></p>
            <% end %>
          </div>
        </div>

        <div>
          <%= f.label :password, class: "block font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.password_field :password,
                                 autocomplete: "new-password",
                                 class: "field-text block max-w-lg sm:max-w-sm w-full" %>
            <% resource.errors.where(:password).each do |error| %>
              <p class="mt-2 text-red-600 dark:text-red-300"><%= error.full_message %></p>
            <% end %>
          </div>
        </div>

        <div>
          <%= f.label :password_confirmation, class: "block font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.password_field :password_confirmation,
                                 autocomplete: "new-password",
                                 class: "field-text block max-w-lg sm:max-w-sm w-full" %>
            <% resource.errors.where(:password_confirmation).each do |error| %>
              <p class="mt-2 text-red-600 dark:text-red-300"><%= error.full_message %></p>
            <% end %>
          </div>
        </div>

        <div>
          <%= f.submit "Sign up",
                       class: "w-full button" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
